

        

        <!-- Content starts -->
       
            <div class="sidebar-left">
                <!-- collap-pan-1 starts -->
               
                <div class="collap-pan-1">
                    <div class="fl img"><img src="~/Content/images/icon-setup.png"></div>
                    <div class="fl c-panel">
                        @Html.ActionLink("Setup", "AdminSetup", "AdminSetup")
                        <div id="CollapsiblePanel1" class="CollapsiblePanel">
                            <div id="divCollapsiblePanelTab" class="CollapsiblePanelTab" tabindex="0">Setup</div>
                            <div class="CollapsiblePanelContent">
                                <ul>
                                    <li>
                                        <a href="#">System Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Currencies and Foreign
                                            Exchange Rates
                                        </a>
                                    </li>
                                    <li><a href="#">Engagement Stages</a></li>
                                    <li><a href="#">Employee Skills</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- collap-pan-1 ends -->
                <!-- collap-pan-2 starts -->
                <div class="collap-pan-1">
                    <div class="fl img"><img src="~/Content/images/icon-organizational-structure.png"></div>
                    <div class="fl c-panel">

                        <div id="CollapsiblePanel2" class="CollapsiblePanel">
                            <div class="CollapsiblePanelTab" tabindex="0">Organizational Structure</div>
                            <div class="CollapsiblePanelContent">
                                <ul>
                                    <li>
                                        <a href="#">System Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Currencies and Foreign
                                            Exchange Rates
                                        </a>
                                    </li>
                                    <li><a href="#">Engagement Stages</a></li>
                                    <li><a href="#">Employee Skills</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div><!-- collap-pan-2 ends -->
                <!-- collap-pan-3 starts -->
                <div class="collap-pan-1">
                    <div class="fl img"><img src="~/Content/images/icon-user&resources.png"></div>
                    <div class="fl c-panel">

                        <div id="CollapsiblePanel3" class="CollapsiblePanel">
                            <div class="CollapsiblePanelTab" tabindex="0">User and Resources</div>
                            <div class="CollapsiblePanelContent">
                                <ul>
                                    <li>
                                        <a href="#">System Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Currencies and Foreign
                                            Exchange Rates
                                        </a>
                                    </li>
                                    <li><a href="#">Engagement Stages</a></li>
                                    <li><a href="#">Employee Skills</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div><!-- collap-pan-3 ends -->
                <!-- collap-pan-4 starts -->
                <div class="collap-pan-1">
                    <div class="fl img"><img src="~/Content/images/icon-job-accounting.png"></div>
                    <div class="fl c-panel">

                        <div id="CollapsiblePanel4" class="CollapsiblePanel">
                            <div class="CollapsiblePanelTab" tabindex="0">Job Accounting</div>
                            <div class="CollapsiblePanelContent">
                                <ul>
                                    <li>
                                        <a href="#">System Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Currencies and Foreign
                                            Exchange Rates
                                        </a>
                                    </li>
                                    <li><a href="#">Engagement Stages</a></li>
                                    <li><a href="#">Employee Skills</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div><!-- collap-pan-4 ends -->



            </div><!-- sidebar-left ends -->

           


       
        <!-- Content ends -->
   