
<div class="grey-bar">
    <div class="input-box">
        <input class="inp" name="" type="text" value="Type Keywords"
               onfocus="(this.value == 'Type Keywords') && (this.value = '')"
               onblur="(this.value == '') && (this.value = 'Type Keywords')">
    </div>
    <div class="include"><input class="chk" name="" type="checkbox" value="">Include Inactive</div>
    <div class="excel"><a href="#"><img src="~/Content/images/icon-excelsheet.png" alt="excelsheet" title="excelsheet"></a></div>
    <div class="print"><a href="#"><img alt="print" title="print" src="~/Content/images/icon-print.png"></a></div>
    <div class="clear"></div>
</div>
