
@{
    ViewBag.Title = "Admin Setup";
   
 }
  @using (Html.BeginForm("AdminSetup", "AdminSetup", FormMethod.Post))
{
<div>
    <div class="wrapper">
        <section>
            <div class="content">
                <h1>Welcome to Administration Setup Section</h1>
                @{


                    <div class="content-right">
                        <div id="CollapsiblePanel5" class="CollapsiblePanel right fl">
                            <div class="CollapsiblePanelTab right" tabindex="0">Setup</div>
                            <div class="CollapsiblePanelContent right">
                                <ul>
                                    <li><a href="#">Manage System Settings</a></li>
                                    <li><a href="#">Manage Currencies and Foreign Exchange Rates</a></li>
                                    <li><a href="#">Manage Engagement Stages</a></li>
                                    <li><a href="#">Manage Employees skills</a></li>
                                </ul>
                            </div>
                        </div>
                       

                        <div class="clear"></div>

                       
                    </div>

                }
            </div>

        </section>
        <div class="clear"></div>
    </div>
</div>
  }

